<h2>new-celebrity.hbs</h2> 
<form action="/celebrities/create" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="occupation" placeholder="Occupation">
    <input type="text" name="catchPhrase" placeholder="Catch phrase">
    <button type="submit">Create celebrity</button>
</form>
